<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>V-model: suma de dos numeros</title>

    <! -Vinculamos al cdn de vue -->

    <style type="text/css">

        table.customTable {
                    width: 100%;
                    background-color: #FFFFFF;
                    border-collapse: collapse;
                    border-width: 2px;
                    border-color: #FEC1C1;
                    border-style: dotted;
                    color: #14919D;
                }
                
                table.customTable td, table.customTable th {
                    border-width: 2px;
                    border-color: #FEC1C1;;
                    border-style: dotted;
                    padding: 10px;
                }
                
                table.customTable thead {
                    background-color: #FEC1C1;
                }

    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>

<body>

    <div id="aplicacion"> 

        <!- Creamos un modelo de input number (Un modificador que convierte 
        automaticamente a numero lo puesto en un input) --> 


        <!- Form nos crea un formulario donde damos dos textfield con un nombre, al igual que un botón -->
        <form v-if="!is_login">

            <fieldset>

                <legend>Email</legend>
                <input v-model="email" type="text">

            </fieldset>
            <fieldset>

                <legend>Contraseña</legend>
                <input v-model="password" type="password">

            </fieldset>

            <hr>
            <input type="button" v-on:click="login" value="Entrar">

        </form>
        <div v-if="is_login">
            <table class="customTable">
            <thead>
                <tr>
                <th>Personal data</th>
                <th>Contact data</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="u in usuarios">
                <td>{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>
                    <button @click="edit(u)">
                        Edit
                    </button>
                    <button @click="remove(usuarios.id)">
                        Remove
                    </button>

                </td>
                </tr>
            </tbody>
            </table>
            <br>
            <button v-on:click="add">
                Add record
            </button>
            <br><br><br><br>
            <div class="rendered-form" v-if="action == 'add'">
                
                <h1 access="false" id="control-">Añadir usuario</h1>
                <div class="formbuilder-text form-group field-text-">
                    <label for="text-" class="formbuilder-text-label">Name</label>
                    <input v-model="new_user.name"type="text" class="form-control" name="text-" access="false" id="text-">
                </div><br><br>
                <div class="formbuilder-text form-group field-text-">
                    <label for="text-" class="formbuilder-text-label">Email</label>
                    <input v-model="new_user.email"type="text" class="form-control" name="text-" access="false" id="text-">
                </div><br>
                <div class="formbuilder-button form-group field-button-">
                    <button type="button" @click="save('create')"class="btn-default btn" name="button-" access="false" style="default" id="button-">Save user</button>
                </div>
            </div> <div class="rendered-form" v-if="action == 'edit'">
                
                <h1 access="false" id="control-">Editar usuario</h1>
                <div class="formbuilder-text form-group field-text-">
                    <label for="text-" class="formbuilder-text-label">Name</label>
                    <input v-model="new_user.name"type="text" class="form-control" name="text-" access="false" id="text-">
                </div><br><br>
                <div class="formbuilder-text form-group field-text-">
                    <label for="text-" class="formbuilder-text-label">Email</label>
                    <input v-model="new_user.email"type="text" class="form-control" name="text-" access="false" id="text-">
                </div><br>
                <div class="formbuilder-button form-group field-button-">
                    <button type="button" @click="save('update')"class="btn-default btn" name="button-" access="false" style="default" id="button-">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">

        //Instancia de vue
         new Vue({

            //Referencia hacia el elemento div 
            el:"#aplicacion",

            data:{

                //Declaramos nuestras variables para los valores
                password: "",
                email: "",
                usuarios:[],
                is_login: false,
                action: "",
                new_user: [],


            }, 

            //Comenzamos a crear metodos.
            //Se usa la coma para hacer distinción de propiedad en propiedad.

            methods: {

                async login(){

                    
                    let temp=localStorage.getItem("is_login");
                    is_login=temp; 

                    if(temp===null){

                        temp=false;

                    }
                    
                    const response= await fetch("users.json");
                    this.usuarios= await response.json();

                    console.log(this.usuarios);
                    let cont=0;
                   this.usuarios.forEach((user) => {

                        if(user.email === this.email){

                            cont+=1;
                            if(user.password === this.password){
                                
                                cont+=1;
                                localStorage.setItem("user_data", JSON.stringify(user));
                                localStorage.setItem("is_login","true");

                            }

                        }
                        
                    });
                    switch(cont){

                        case 0: 
                            alert("Correo incorrecto"); 
                            this.temp=false
                        break;
                        case 1:
                            this.temp=false; 
                            alert("Contraseña incorrecta");
                        break;
                        case 2:  
                            this.is_login=true;
                            alert("Bienvenido")
                        break;

                    }

                },
                add(){
                    this.action='add';

                },
                edit(u){
                    this.action='edit';
                    this.new_user.name= u.name;
                    this.new_user.email= u.email;
                    this.new_user.id=u.id;
                },
                save(action){

                    if(action=='create'){
                            
                        this.usuarios.push(this.new_user);
                        alert("Se añadió el nuevo usuario");
                        this.new_user=[];
                    }
                    if(action=='update'){

                        this.usuarios.forEach(user=>{

                            if(user.id==this.new_user.id){

                                user.name=this.new_user.name;
                                user.email=this.new_user.email;

                            }

                        })
                        this.new_user=[];

                    }
                    this.action='';
                    
                },
                remove(id){
                    let c=0;
                    let i=0;
                    this.usuarios.forEach(user=>{

                        if(user.id==id){

                            i=c;

                        }

                        c++;

                    })
                    this.usuarios.splice(i,1);

                }

            },

         })

    </script>
</body>
</html>