<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>V-model: suma de dos numeros</title>

    <! -Vinculamos al cdn de vue -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>

<body>

    <div id="aplicacion"> 

        <!- Creamos un modelo de input number (Un modificador que convierte 
        automaticamente a numero lo puesto en un input) --> 


        <!- Form nos crea un formulario donde damos dos textfield con un nombre, al igual que un botón -->
        <form>

            <fieldset>

                <legend>Email</legend>
                <input v-model="email" type="text">

            </fieldset>
            <fieldset>

                <legend>Contraseña</legend>
                <input v-model="password" type="password">

            </fieldset>

            <hr>
            <input type="button" v-on:click="login" value="Entrar">

        </form>
       
    </div>
    
    <script type="text/javascript">

        //Instancia de vue
         new Vue({

            //Referencia hacia el elemento div 
            el:"#aplicacion",

            data:{

                //Declaramos nuestras variables para los valores
                password: "",
                email: "",
                usuarios:[],

            }, 

            //Comenzamos a crear metodos.
            //Se usa la coma para hacer distinción de propiedad en propiedad.

            methods: {

                async login(){

                    const response= await fetch("users.json");
                    const users_r= await response.json();

                    console.log(users_r);
                    let cont=0;
                    users_r.forEach((user) => {

                        if(user.email === this.email){

                            cont+=1;
                            if(user.password === this.password){
                                
                                cont+=1;

                            }

                        }
                        
                    });
                    switch(cont){

                        case 0: console.log("Correo incorrecto"); 
                        break;
                        case 1: console.log("Contraseña incorrecta");
                        break;
                        case 2: console.log("Bienvenido");

                    }

                }

            },

         })

    </script>
</body>
</html>